@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lexend', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.text {
    background-color: #d9d9d9;
    background-size: cover;
    background-repeat: no-repeat;   
    background-position: center;    
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-size: 18px;
}
.text p {
    margin: 20px;
    line-height: 1.6;
    width: 50%;
}
.text .title {
    font-size: 80px;
    margin-bottom: 20px;
    text-align: center;
}

.text .subtitle {
    
    font-size: 30px;
    margin-bottom: 20px;
}

.signature {
    text-align: left;
    font-size: 18px;
    margin-top: 20px;
}

.button {
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
    background-color: #5f6f84;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    margin: 20px 0;
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:hover {
    background-color: #0057b8;
}

footer {
    background-color: #5f6f84;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

footer a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
}

footer a:hover {
    color: #dbe0e3;
}
